<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Superhéroe</title>
</head>
<body>
    <h1>Agregar Nuevo Superhéroe</h1>
    <form action="/heroes/agregar" method="POST">
        <label>Nombre de Superhéroe:</label><br>
        <input type="text" name="nombreSuperheroe" required><br><br>

        <label>Nombre Real:</label><br>
        <input type="text" name="nombreReal" required><br><br>

        <label>Edad:</label><br>
        <input type="number" name="edad" min="0" required><br><br>

        <label>Planeta de Origen:</label><br>
        <input type="text" name="planetaOrigen" default="Tierra"><br><br>

        <label>Debilidad:</label><br>
        <input type="text" name="debilidad"><br><br>

        <label>Poderes (separados por coma):</label><br>
        <input type="text" name="poderes"><br><br>

        <button type="submit">Guardar Superhéroe</button>
        <a href="/heroes">Cancelar</a>
    </form>
</body>
</html>